extends layout

block content
    main
        section
            div.row
                div.small-12.columns
                    h1= message
                    h2= error.status
                    pre #{error.stack}
