extends layout

block content
    main.cover
        section
            div.row
                div.small-12.medium-7.large-8.columns.welcome
                    h1 Welcome to Melodacious
                    h2 Where keeping track of your music is easy!
                    p Create playlists of all your favorite tracks using popular music sites such as SoundCloud, MixCloud, and many more. To get started register for an account today and start creating!
                div.small-12.medium-5.large-4.columns
                    form(method='POST' action='/sign-in').small-12.columns.sign-in
                        if signInError !== ''
                            label.error #{signInError}
                        else
                            label Sign-in and start creating!
                        input(type='email', placeholder='Email', name='email', maxlength='100', required)
                        span.flex
                            input(type='password', placeholder='********', name='password', maxlength='255', required)
                            button(type='submit') Sign-in
                    form(method='POST' action='/register').small-12.columns.register
                        if registrationError !== ''
                            label.error #{registrationError}
                        else
                            label New to Melodacious? Register now.
                        input(type='text', placeholder='First Name', name='firstName', maxlength='45', required)
                        input(type='text', placeholder='Last Name', name='lastName', maxlength='45', required)
                        input(type='email', placeholder='Email', name='email', maxlength='100', required)
                        span.flex
                            input(type='password', placeholder='********', name='password', maxlength='255', required)
                            button(type='submit') Register