doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/app.css')
        script(type='text/javascript', src='/js/vendor.min.js')
        script(type='text/javascript', src='/js/app.min.js')
    body
        block header
            header
                div.row
                    div.small-12.columns.navigation
                        a(href='/')
                            img(src='/img/logo.svg')
                        nav
                            ul
                                if access
                                    li
                                        a(class='sign-out' href='/sign-out') Sign-out
        block content
        block footer
            footer
                div.row
                    div.small-12.columns
                        span.fa.fa-copyright
                        span #{moment(Date.now()).format('YYYY')} Melodacious